<% if signed_in? %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
  <%= will_paginate @microposts %>
    <%= render 'shared/microposts_feed' %>
  <%= will_paginate @microposts %>
  </div>
</div>
<% else %>
  <div class = "center jumbotron">
    <h1><small>Welcome to A</small> Chirper</h1>
    <h2>
      This is the home page for a sample application build using the
      <a href = "http://railtutorial.org/">Ruby on Rails free tutorial </a>
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
  <%= will_paginate @microposts %>
    <%= render 'shared/microposts_feed' %>
  <%= will_paginate @microposts %>
<% end %>
</br>
<%= link_to image_tag("rails.png", alt: "Ruby on rails tutorial"),
    'http://rubyonrails.org/' %>

